extends layout

block links
   link(rel='stylesheet', href='/css/userBooks.css')

block content
  h1 All Available Books
  br
  input#search.form-control(type='text', placeholder='Search')
  br
  div#tableWrapper
    table.table.table-hover
      thead
        tr
          th Book Cover
          th#title(data-sort=1) Title 
            span.glyphicon.glyphicon-sort
          th#author(data-sort=1) Author 
            span.glyphicon.glyphicon-sort
          th#genre(data-sort=1) Genre 
            span.glyphicon.glyphicon-sort
          th ISBN
          th Trade
      tbody
        each book in books
          tr.dataRow(data-book = book.id)
            td 
              img.bookIcon(src=book.photoUrl)
            td.title.searchable #{book.title}
            td.author.searchable #{book.author}
            td.genre.searchable #{book.genre}
            td.searchable #{book.isbn}
            td 
              a(href=`/profile/tradeScreen/${book.id}`)#offerTrade Offer Trade
              
block scripts
  script(src="/js/availableBooks.js")
